{% extends 'base.html.twig' %}

{% block title %}Modifier Magasin{% endblock %}

{% block body %}
    <br />
    <center><h1>Modifier Magasin</h1>
    <br /><br /><br />
    {{ include('magasin/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <br />
    <a href="{{ path('magasin_index') }}"><input type="button" value="Retour"></a></center>

{% endblock %}
