{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
<br />
    <center><h1>Créer magasin</h1>

    {{ include('magasin/_form.html.twig') }}
    <br />
    <a href="{{ path('magasin_index') }}"><input type="button" value="Retour" class="btn btn-primary"></a></center>
{% endblock %}
