{% extends 'base.html.twig' %}

{% block title %}TypeArticle{% endblock %}

{% block body %}
    <br />
    <center><h1>Modifier TypeArticle</h1>
    <br />

    {{ include('type_article/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br />
    <a href="{{ path('type_article_index') }}"><input type="button" value="Retour" class="btn btn-primary"></a></center>

    
{% endblock %}
