{% extends 'base.html.twig' %}

{% block title %}TypeArticle{% endblock %}

{% block body %}
<br />
    <center><h1>Créer Type Article</h1>
    <br />
    {{ include('type_article/_form.html.twig') }}
    <br />
    <a href="{{ path('type_article_index') }}"><input type="button" value="Retour" class="btn btn-outline-primary"></a></center>
    
{% endblock %}
