{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
<br />
    <center><h1>Envoyer un message à un vendeur</h1>
<br /><br />
    <form action="{{ path('message_new') }}" method="get">
        <p>Email client: <input name="emailcli" id="emailcli" placeholder="cli@gmail.com"></input></p>
        <br /><br />
        <p>Email vendeur: <select name="emailvend" id="emailvend">
        {% for user in users %}
            <option value={{ user.id }}>{{ user.email }}</option>
        {% endfor %}
        </select></p>
        <br /><br />
        <p>Titre: <input name="titremes" id="titremes" placeholder="Object du message"></input></p>
        <br /><br />
        <p>Contenu</p>
        <textarea name="contenumes" id="contenumes" placeholder="Contenu du message"></textarea>
        <br /><br />
        <input type="submit" name="btnsubmit" value="Envoyer" class="btn btn-primary">
        <a href="{{ path('magasin_index') }}"><input type="button" value="Retour" class="btn btn-outline-primary"></a></center>
    </form>
{% endblock %}
