<div class="navbar">
        <a href="{{ path('magasin_index') }}">Accueil</a>
        <a href="{{ path('article_index') }}">Produits</a>
        <a href="/register">Créer un compte</a>
        <a href="/login">Connexion</a>
        <a href="/logout">Déconnexion</a>
        <a href="{{ path('panier') }}">Panier</a>
        <a href="{{ path('message_new') }}">Envoyer un message</a>
</div>