{% extends 'base.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}
    <center><h1>Modifier Stock</h1>

    {{ include('stock/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <br />
    <a href="{{ path('stock_index') }}"><input type="button" value="Retour"></a></center>


{% endblock %}
