{% extends 'base.html.twig' %}

{% block title %}tock{% endblock %}

{% block body %}
    <center><h1>Créer Stock</h1>

    {{ include('stock/_form.html.twig') }}
    <br />
    <a href="{{ path('stock_index') }}"><input type="button" value="Retour"></a></center>
{% endblock %}
