{% extends 'base.html.twig' %}

{% block title %} Article{% endblock %}

{% block body %}
    <center><h1>Modifier Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
    <br />
    <a href="{{ path('article_index') }}"><input type="button" value="Retour"></a></center>

    
{% endblock %}
