{% extends 'base.html.twig' %}

{% block title %}Créer Article{% endblock %}

{% block body %}
    <center><h1>Création d'un article</h1>

    {{ include('article/_form.html.twig') }}
    <br>
    <a href="{{ path('article_index') }}"><input type="button" value="Retour"></a></center>
{% endblock %}
